/***************/
/* MEYER RESET */
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/**************/
/* BASE RULES */
/**************/
html {
  font-size: 100%; }

body {
  background: #fff;
  font: 14px Helvetica, Arial, sans-serif;
  color: #333; }

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-weight: bold;
  line-height: 1.2;
  margin: 15px;
  padding: 0; }
  @media screen and (max-width: 640px) {
    h1, h2, h3, h4, h5, h6 {
      line-height: 1.4; } }

h1 {
  font-size: 28px;
  color: #000000;
  text-decoration: underline; }
  h1 a {
    color: inherit; }

h2 {
  font-size: 24px;
  color: #000000; }

h3 {
  font-size: 20px;
  color: #000000; }

h4 {
  font-size: 16px;
  color: #000000; }

p {
  margin: 14px 0; }

a {
  color: #222;
  text-decoration: none;
  cursor: pointer; }
  a:hover, a:active {
    color: black; }

ul, ol {
  margin: 15px 0;
  padding-left: 30px; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

ol ul, ul ol, ul ul, ol ol {
  margin: 0; }

ul ul, ol ul {
  list-style-type: circle; }

em, i {
  font-style: italic; }

strong, b {
  font-weight: bold; }

img {
  max-width: 100%; }

.gmnoprint img {
  max-width: none; }

.date {
  font-style: italic;
  color: #666; }

::-moz-selection {
  color: #000;
  background: #eee; }

::selection {
  color: #000;
  background: #eee; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

/*********************/
/* LAYOUT / SECTIONS */
/*********************/
.wrapper-masthead {
  margin-bottom: 50px; }

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #eee; }
  @media screen and (max-width: 640px) {
    .masthead {
      text-align: center; } }

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px; }
  @media screen and (max-width: 640px) {
    .site-avatar {
      float: none;
      display: block;
      margin: 0 auto; } }
  .site-avatar img {
    border-radius: 5px; }

.site-info {
  float: left; }
  @media screen and (max-width: 640px) {
    .site-info {
      float: none;
      display: block;
      margin: 0 auto; } }

.site-name {
  margin: 0;
  color: #333;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px; }

.site-description {
  margin: -5px 0 0 0;
  color: #fff;
  font-size: 16px; }
  @media screen and (max-width: 640px) {
    .site-description {
      margin: 3px 0; } }

nav {
  float: right;
  margin-top: 23px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px; }
  @media screen and (max-width: 640px) {
    nav {
      float: none;
      margin-top: 9px;
      display: block;
      font-size: 16px; } }
  nav a {
    margin-left: 20px;
    color: #fff;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px; }
    nav a:hover, nav a:active {
      color: #333333; }
    @media screen and (max-width: 640px) {
      nav a {
        margin: 0 10px;
        color: #fff; } }

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid #eee; }

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none; }

.post blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid #666;
  padding: 0.1em 1em;
  color: #666;
  font-size: 22px;
  font-style: italic; }
.post .comments {
  margin-top: 10px; }
.post .read-more {
  text-transform: uppercase;
  font-size: 15px; }

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee; }

footer {
  padding: 20px 0;
  text-align: center; }

.highlight {
  background-color: #efefef;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  margin: 20px 0 20px 0;
  overflow: scroll; }

code {
  font-family: 'Bitstream Vera Sans Mono','Courier', monospace; }

.highlight .c {
  color: #586E75; }

/* Comment */
.highlight .err {
  color: #93A1A1; }

/* Error */
.highlight .g {
  color: #93A1A1; }

/* Generic */
.highlight .k {
  color: #859900; }

/* Keyword */
.highlight .l {
  color: #93A1A1; }

/* Literal */
.highlight .n {
  color: #93A1A1; }

/* Name */
.highlight .o {
  color: #859900; }

/* Operator */
.highlight .x {
  color: #CB4B16; }

/* Other */
.highlight .p {
  color: #93A1A1; }

/* Punctuation */
.highlight .cm {
  color: #586E75; }

/* Comment.Multiline */
.highlight .cp {
  color: #859900; }

/* Comment.Preproc */
.highlight .c1 {
  color: #586E75; }

/* Comment.Single */
.highlight .cs {
  color: #859900; }

/* Comment.Special */
.highlight .gd {
  color: #2AA198; }

/* Generic.Deleted */
.highlight .ge {
  color: #93A1A1;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #DC322F; }

/* Generic.Error */
.highlight .gh {
  color: #CB4B16; }

/* Generic.Heading */
.highlight .gi {
  color: #859900; }

/* Generic.Inserted */
.highlight .go {
  color: #93A1A1; }

/* Generic.Output */
.highlight .gp {
  color: #93A1A1; }

/* Generic.Prompt */
.highlight .gs {
  color: #93A1A1;
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #CB4B16; }

/* Generic.Subheading */
.highlight .gt {
  color: #93A1A1; }

/* Generic.Traceback */
.highlight .kc {
  color: #CB4B16; }

/* Keyword.Constant */
.highlight .kd {
  color: #268BD2; }

/* Keyword.Declaration */
.highlight .kn {
  color: #859900; }

/* Keyword.Namespace */
.highlight .kp {
  color: #859900; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #268BD2; }

/* Keyword.Reserved */
.highlight .kt {
  color: #DC322F; }

/* Keyword.Type */
.highlight .ld {
  color: #93A1A1; }

/* Literal.Date */
.highlight .m {
  color: #2AA198; }

/* Literal.Number */
.highlight .s {
  color: #2AA198; }

/* Literal.String */
.highlight .na {
  color: #93A1A1; }

/* Name.Attribute */
.highlight .nb {
  color: #B58900; }

/* Name.Builtin */
.highlight .nc {
  color: #268BD2; }

/* Name.Class */
.highlight .no {
  color: #CB4B16; }

/* Name.Constant */
.highlight .nd {
  color: #268BD2; }

/* Name.Decorator */
.highlight .ni {
  color: #CB4B16; }

/* Name.Entity */
.highlight .ne {
  color: #CB4B16; }

/* Name.Exception */
.highlight .nf {
  color: #268BD2; }

/* Name.Function */
.highlight .nl {
  color: #93A1A1; }

/* Name.Label */
.highlight .nn {
  color: #93A1A1; }

/* Name.Namespace */
.highlight .nx {
  color: #555; }

/* Name.Other */
.highlight .py {
  color: #93A1A1; }

/* Name.Property */
.highlight .nt {
  color: #268BD2; }

/* Name.Tag */
.highlight .nv {
  color: #268BD2; }

/* Name.Variable */
.highlight .ow {
  color: #859900; }

/* Operator.Word */
.highlight .w {
  color: #93A1A1; }

/* Text.Whitespace */
.highlight .mf {
  color: #2AA198; }

/* Literal.Number.Float */
.highlight .mh {
  color: #2AA198; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #2AA198; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #2AA198; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #586E75; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #2AA198; }

/* Literal.String.Char */
.highlight .sd {
  color: #93A1A1; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #2AA198; }

/* Literal.String.Double */
.highlight .se {
  color: #CB4B16; }

/* Literal.String.Escape */
.highlight .sh {
  color: #93A1A1; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #2AA198; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #2AA198; }

/* Literal.String.Other */
.highlight .sr {
  color: #DC322F; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #2AA198; }

/* Literal.String.Single */
.highlight .ss {
  color: #2AA198; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #268BD2; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #268BD2; }

/* Name.Variable.Class */
.highlight .vg {
  color: #268BD2; }

/* Name.Variable.Global */
.highlight .vi {
  color: #268BD2; }

/* Name.Variable.Instance */
.highlight .il {
  color: #2AA198; }

/* Literal.Number.Integer.Long */
/****************************/
/* JEKYLL-mono-color */
/***************************/
/*
    *Title
*/
.site-name a {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }
  .site-name a:hover {
    color: #333333; }

.post a {
  color: #8476ad; }
  .post a:hover {
    color: #534776; }

.post-heading a {
  color: #333; }
  .post-heading a:hover {
    color: black; }

/*
    *Buttons
*/
.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

.button:hover,
button:hover,
.button:focus,
button:focus {
  color: #333;
  border-color: #888;
  outline: 0; }

.button.button-primary,
button.button-primary {
  color: #8476ad;
  background-color: transparent;
  border-color: #8476ad; }

.button.button-primary:hover,
button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus {
  color: #FFF;
  background-color: #8476ad;
  border-color: #8476ad; }

/*
    *Header
*/
.intro-header {
  border-top: 5px solid white;
  background-color: #8476ad; }

.intro-header .post-heading {
  padding: 100px 0 50px;
  color: #fff; }

.intro-header .post-heading h1 {
  color: #fff;
  font-size: 36px;
  line-height: 1.5;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif; }

@media only screen and (min-width: 768px) {
  .intro-header .post-heading {
    padding: 150px 0; } }
/*
    *empty spaces
*/
.space-medium {
  padding: 100px 0 50px; }

.space-small {
  padding: 50px 0 25px; }

.space-extra-small {
  padding: 30px 0 15px; }

/*
    *svg-icons

*/
.svg-icon a {
  color: #695a96;
  cursor: pointer; }
  .svg-icon a:hover {
    color: #534776; }

/*
    *Image Hover Effects
*/
.centered {
  margin-left: auto;
  margin-right: auto; }

.ch-grid {
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%; }

.ch-grid:after,
.ch-item:before {
  content: '';
  display: table; }

.ch-grid:after {
  clear: both; }

.ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block; }

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  cursor: default; }

.ch-info-wrap,
.ch-info {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%; }

.ch-info-wrap {
  top: 20px;
  left: 20px;
  background: #fff url(/images/bg.jpg);
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2), inset 0 0 3px rgba(115, 114, 23, 0.8); }

.ch-info > div {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-position: center center;
  -webkit-backface-visibility: hidden; }

.ch-info .ch-info-front {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out; }

.ch-info .ch-info-back {
  opacity: 0;
  background: #fff;
  pointer-events: none;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.4s ease-in-out 0.2s;
  -moz-transition: all 0.4s ease-in-out 0.2s;
  -o-transition: all 0.4s ease-in-out 0.2s;
  -ms-transition: all 0.4s ease-in-out 0.2s;
  transition: all 0.4s ease-in-out 0.2s; }

.ch-img-1 {
  background-image: url(/images/avatar.jpg); }

.ch-info h3 {
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  margin: 0 15px;
  padding: 40px 0 0 0;
  height: 80px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0, 0, 0, 0.3); }

.ch-info p {
  color: #fff;
  padding: 10px 5px 0;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px; }

.ch-info p a {
  display: block;
  color: #8476ad;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif; }

.ch-info p a:hover {
  color: #695a96; }

.ch-item:hover .ch-info-front {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0; }

.ch-item:hover .ch-info-back {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  pointer-events: auto; }
